.title {
  align-items: center;
  text-align: center;
  font-family: Roboto;
  color: #fff;
  font-size: 3rem;
  font-weight: lighter;
  margin-top: 3.5rem;
}
.app__resume {
  display: flex;
  flex: 1;
  width: 100vw;
  flex-direction: column;
}
