
.submit-button:hover{
    background-color: rgba(255,255,255,.1);
    transition: .2s ease-in-out;
}
.submit-button {
    background: linear-gradient(-45deg,rgba(255,255,255,.2),rgba(255,255,255,.2),rgba(255,255,255,.2),rgba(255,255,255,.2),rgba(255,255,255,.2), rgba(255,255,255,.3), rgba(255,255,255,.2),rgba(255,255,255,.2),rgba(255,255,255,.2),rgba(255,255,255,.2),rgba(255,255,255,.2),rgba(255,255,255,.2));
    background-size: 400% 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 20rem;
    padding: .8rem;
    margin-bottom: 2rem;
    border: transparent;
    font-size: 1.5rem;
    font-weight: lighter;
    transition: .2s ease-in-out;
    animation: shine 8s ease infinite;
    
}
.form{
    display: flex;
    flex-direction: column;
}
.input:focus{
    border: solid 2px;
    border-color:#fff;
    background-color:rgba(255,255,255,.1) ;
    transition: .3s ease-in-out;
}
.input{
    background-color:rgba(255,255,255,.2);
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 20rem;
    padding: .8rem;
    border-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
}
.text-area:focus{
    border: solid 2px;
    border-color:#fff;
    background-color:rgba(255,255,255,.1) ;
    transition: .3s ease-in-out;
}
.text-area{
    background-color:rgba(255,255,255,.2);
    margin-bottom: 1.5rem;
    border-radius: 10px;
    width: 20rem;
    height: 5rem;
    padding: .8rem;
    border-color: transparent ;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
}
.label {
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: .5rem;
    color:rgba(255,255,255,.8);
}
.button-label{
    font-size: 1.2rem;
    font-weight: lighter;  
    background-color: transparent;
    border: 0;
    margin-left: 1rem;
}
.button-icon {
    height: 1.2rem;
    width: 1.2rem;
    filter: invert(.8);
}
@keyframes shine {
    0%{       
        background-position: 0% 50%;
    } 
    50%{       
        background-position: 100% 50%;
    }
    100%{       
        background-position: 0% 50%;
    }
}